.tabla-movimientos tbody tr:hover {
    background-color: aquamarine;
}
.column-bgrd {
    background-color: aquamarine !important;
    margin: 10px;
}
footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: aquamarine;
}
header {
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: aquamarine;
    font-size: 3em;
}
