<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myCripto</title>
    <link rel="stylesheet" href="/static/css/milligram.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/home.js"></script>    
</head>
<body>
    <header>MyCripto</header>
    
    <section class="container" id="principal">
        <h2>Balance de movimientos</h2> 
            
        <div class="lista-movimientos" style="
                border: 1px solid #333333;
                height: 18vw;
                overflow: scroll;">
            <table class="tabla-movimientos">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>From</th>
                        <th>Cantidad</th>
                        <th>To</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody ></tbody>  
                                
            </table>
        </div>
       
    </section>
    <hr>
    <div class="detail-movimiento container">
    
    </div>
    <div class="container" id="principal">
        <h2>Comprar/vender</h2>
        <div class="row">
            
            <div class="column column-33">
                From:
                <select name="monedaFrom" id="monedaFrom" class = "monedaFrom">
                    <div id="monedasStock"></div>
                    <div id="#monedaSaldo"></div>

                </select>
            </div>  
            <div class="column column-33">
                To:
                <select name="monedaTo" id="monedaTo" class = "monedaTo">
                    <option value="EUR" value="1000">Euro</option> 
                    <option value="BTC">Bitcoin</option> 
                    <option value="ETH">Ethereum</option>
                    <option value="XRP">XRP</option> 
                    <option value="LTC">Debian</option> 
                    <option value="BCH">Bitcoin Cash</option>
                    <option value="BNB">Binance Coin</option>
                    <option value="USDT">Tether</option>
                    <option value="EOS">EOS</option>
                    <option value="BSV">Bitcoin SV</option>
                    <option value="XLM">Stellar</option>
                    <option value="ADA">Cardano</option>
                    <option value="TRX">Tron</option>
                </select>
            </div>
            <div class="column column-33">
                <div id = "situacionMonedas"></div>
            </div>
        </div>
        <div class="row">
            <div class="column column-33">
                Cantidad:
                <input type="text" name="cantidadFrom" id="cantidadFrom">
            </div>
            <div class="column column-33">
                Cantidad: 
                <div id="cantidadTo"></div>
                Precio Unitario:
                <div id="exchangeRate"></div>
            </div>
        </div>
        <div class="row"><div>
            </div>
                <button id="actualizaValor">Actualizar</button>
                <button id="grabaValor">Comprar</button>
                <div id="datoValor"></div>
                <script src="/static/js/apicode.js"></script>
            </div>
             
        </div> 
                                 
    </div>
<footer>&copy 2021 -todos los derechos reservados</footer>
</body>
</html>
